SERVER_PORT=3000
FRONT_URL=*

POSTGRES_USER=root
POSTGRES_PASSWORD=1234
POSTGRES_DB=geoleum
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

REDIS_PASSWORD=1234
REDIS_URL=redis://:${REDIS_PASSWORD}@localhost:6379

JWT_SECRET="qkwpk0123i1923109239012eie9012ie9021ie90210"
NODE_ENV=development
